/*
Main site colors:

Light Blue: #00B6FF
Dark Blue: #2A2669
Grey: #D1D1D1

*/

body {
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  padding-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
}

header {
  background-color: #D1D1D1;
  height: 175px;
}

header>ul {
  list-style: none;
  float: right;
  margin: 135px 20px 0 0;
}

header>ul>li {
  display: inline-block;
  clear:right;
  padding: 0 15px;
  font-size: 1.5em;
}

#mainlogo {
  width: 30%;
  float: left;
  margin: 90px 0 0 10px;
}
