/*
Main site colors:

Light Blue: #00B6FF
  rgb(0, 182, 255)
Dark Blue: #2A2669
  rgb(42, 38, 105)
Grey: #D1D1D1
  rgb(209, 209, 209)

*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 0;
  background-color: white;
  color: #2A2669;
}

main {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

a {
  text-decoration: none;
}

a:link {
  color: #2A2669;
}

a:visited {
  color: #00B6FF;
}

a:hover {
  color: slategrey;
}

header {
  background-color: rgba(209, 209, 209, 0.5);
}

header ul {
  list-style: none;
  float: right;
  margin: 125px 20px 0 0;
}

header li {
  display: inline-block;
  clear:right;
  padding: 0 15px;
  font-size: 0.75em;
}

#gallery {
  background: linear-gradient(rgba(209, 209, 209, 0.5), rgba(209, 209, 209, 0.5) 90%, white);
  clear: right;
  padding: 0 0 0 0.5%;
}

.gallery-img {
  width: 33%;
  padding: 0 0 65px 0;
}

#mainlogo {
  width: 385px;
  float: left;
  margin: 90px 0 0 10px;
}

#services {
  display: block;
}

#main-svc ul {
  padding: 0;
}

#main-svc li {
  display: inline-block;
  background-color: #F9F9F9;
  clear: right;
  width: 25%;
  padding: 10px 4%;
  border-radius: 2%;
  box-shadow: 0 0 10px slategrey;
  -webkit-box-shadow: 0 0 10px slategrey;
  -moz-box-shadow: 0 0 10px slategrey;
}

.section-title {
  text-align: center;
  padding: 60px 0 20px;
  font-size: 4em;
  margin: 0;
}

.icon-back {
  background-image: url("../img/icons/Background@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  box-shadow: 0 10px 6px -6px #777;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  border-radius: 100%;
}

.icon-img {
  width: 60%;
  margin: auto;
  display: block;
  position: absolute;
  top: 32%;
  left: 20%;
  z-index: 10;
}

.icon-img-special {
  height: 50%;
  margin: auto;
  display: block;
  position: absolute;
  top: 26%;
  left: 28%;
  z-index: 10;
}

.icon-desc {
  text-align: center;
}

#show-more {
  width: 100%;
  margin: 50px 0;
}

#button-label {
  text-align: center;
  margin: 0;
}

.more-less {
  margin: auto;
  display: block;
  width: 10%;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #2A2669;
}

.more-less img {
  width: 100%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#secondary-svc {
  margin: 0;
  padding: 20px 0 0;
}

#secondary-svc h1 {
  font-size: 1.1em;
  text-align: center;
}

#secondary-svc ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

#secondary-svc li {
  background-color: #F9F9F9;
  padding: 0 2.5%;
  margin: 16px 2.5%;
  display: inline;
  float: left;
  width: 40%;
  border-radius: 2%;
  box-shadow: 0 0 10px slategrey;
  -webkit-box-shadow: 0 0 10px slategrey;
  -moz-box-shadow: 0 0 10px slategrey;
}

#about-us {
  margin-top: 10px;
}

#about-us img {
  width: 25%;
  display: inline;
  float: left;
  border: 1px solid black;
  margin: 0 2.5% 0 5%;
}

#about-us p {
  width: 60%;
  display: inline;
  float: left;
  padding: 0 4.5% 0 2.5%;
}

#contact-us h2 {
  text-align: center;
}

#contact-us h3 {
  margin: 5px 0;
}

#contact-us p {
  margin: 5px 0;
  padding: 0;
}

#contact-title {
  background-color: #F9F9F9;
  width: 50%;
  min-width: 335px;
  margin: auto;
  padding: 2.5%;
  border-radius: 2%;
  box-shadow: 0 0 10px slategrey;
  -webkit-box-shadow: 0 0 10px slategrey;
  -moz-box-shadow: 0 0 10px slategrey;
}

#contact-info{
  margin: 20px 0;
}

#phone-a {
  display: none;
}

#email-form {
  width: 70%;
  float: left;
}

.form-field {
  width: 100%;
}

#submit-button {
  width: 20%;
  margin: auto;
}

footer {
  margin-top: 250px;
  text-align: center;
}
